@import url('https://fonts.googleapis.com/css?family=Comfortaa');

html, body{
    height: 100%; width: 100%; margin: 0; 
    font-family: 'Comfortaa', sans-serif;
    background-color: darkcyan;
    color: lightcyan;
}
.side{
    background-color: cadetblue;
    text-align: right;
    position: fixed;
    height: 90%;
    width: 30%;
    padding: 5%;
    min-width: 300px;
}
.main{
    margin-left: 30%;
    position: relative;
    width: 70%;
    min-width: 300px;
}
.main a{
    height: 300px;
    width: 400px;
    margin: 10px auto;
    display: block;
    background-color: cadetblue;
}